.cwp-spotlight-layer {
  &--flip-content-order {
    .cwp-spotlight-layer__main {
      order: 2;
    }
    .cwp-spotlight-layer__aside {
      order: 1;
    }
  }

  &__container {
    max-width: 64rem;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }

  &__main,
  &__aside {
    padding: 1rem;

    @media screen and (min-width: 768px) {
      flex: 0 1 50%;
    }
  }

  &__main {
    background: #fff;
  }

  &__aside {
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__heading,
  &__subheading {
    margin: 0;
  }
}
