{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{# Variables:
  - cwpf_eyebrow_text (string)
  - cwpf_heading (string)
  - cwpf_subheading (string)
  - cwpf_body (wysiwig)
  - cwpf_link
    - cwpf_link[0]['#title'] (string)
    - cwpf_link[0]['#url_title'] (string)
  - cwpf_flip_content_order (boolean/string)
  - cwpf_spotlight_image (image)
#}

{%
  set classes = [
    paragraph.bundle()|clean_class,

    content.cwpf_flip_content_order[0]['#markup'] == 'On'
      ? paragraph.bundle()|clean_class ~ '--flip-content-order',

    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}

{# If you're overriding, copy this template to your theme and remove this library #}
{{ attach_library('cwp_spotlight_layer/cwp_spotlight') }}

<section{{ attributes.addClass(classes) }}>
  <div class="cwp-spotlight-layer__container">
    <article class="cwp-spotlight-layer__main">
      {% if content.cwpf_eyebrow_text.0 is not empty %}
        <span class="cwp-spotlight-layer__eyebrow">{{ content.cwpf_eyebrow_text.0 }}</span>
      {% endif %}

      {% if content.cwpf_heading.0 is not empty %}
        <h2 class="cwp-spotlight-layer__heading">{{ content.cwpf_heading.0 }}</h2>
      {% endif %}

      {% if content.cwpf_subheading.0 is not empty %}
        <h3 class="cwp-spotlight-layer__subheading">{{ content.cwpf_subheading.0 }}</h3>
      {% endif %}

      {% if content.cwpf_body.0 is not empty %}
        <div class="cwp-spotlight-layer__body">
          {{ content.cwpf_body.0 }}
        </div>
      {% endif %}

      {% if content.cwpf_link.0 is not empty %}
        <a class="button cwp-spotlight-layer__link" href="{{ content.cwpf_link[0]['#url_title'] }}">{{ content.cwpf_link[0]['#title'] }}</a>
      {% endif %}
    </article>

    <aside class="cwp-spotlight-layer__aside">
      {% if content.cwpf_spotlight_image.0 is not empty %}
        {{ content.cwpf_spotlight_image.0 }}
      {% endif %}
    </aside>
  </div>
</section>
